<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="ServerName" value="SUPER-POWER-NINJA-TURBO-NEO-ULTRA-­HYPER-MEGA-MULTI-ALPHA-META-EXTRA-UBER-P­REFIX SERVER"/>
  </appSettings>
</configuration>